body {
  color: white;
  background-color: #14202b;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

textarea {
  width: 40rem;
  height: 300px;
  background-color: #14202b;
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}

.form {
  margin-top: 30px;
  display: flex;
}

.formDiv {
  display: flex;
  justify-content: center;
}

.tweetBtn {
  background-color: #017bff;
  border-radius: 5px;
  position: relative;
  top: 257px;
  right: 100px;
  width: 90px;
  height: 40px;
  cursor: pointer;
  color: white;
}

.tweetBtn:active {
  background-color: white;
  color: #017bff;
  outline: none;
}

.tweetBtn:hover {
  background-color: #115cd6;
}
.tweet {
  padding: 10px;
  background-color: #343a40;
  margin: 10px;
  width: 40rem;
  border-radius: 5px;
}

.tweets {
  margin-left: auto;
  margin-right: auto;
  width: 48em;
}

.userName {
  color: darkgrey;
}

.createdTime {
  color: darkgrey;
}

.title {
  display: flex;
  justify-content: space-between;
}

.helper {
  height: 62.5px;
}

.nav {
  background-color: #343a40;
  height: 4.6rem;
  /* padding-top: 28px; */
  border-radius: 5px;
}

.navBtn {
  color: darkgrey;
  padding: 25px;
  cursor: pointer;
  font-size: large;
  text-decoration: none;
}

.navBtn:hover {
  color: white;
}

.navBtn:active {
  color: #017bff;
  background-color: #c6c6c6;
  //border-bottom: 16px solid #c6c6c6;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
}

.inp {
  width: 48rem;
  height: 3rem;
  border-radius: 5px;
  border-color: white;
  background-color: #14202b;
  color: white;
}

.saveBtn {
  cursor: pointer;
  width: 90px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 108%;
  background-color: #017bff;
  border-radius: 5px;
  color: white;
}

.saveBtn:active {
  background-color: white;
  color: #017bff;
  outline: none;
}

.saveBtn:hover {
  background-color: #115cd6;
}

.hide {
  display: none;
}

.btns {
  background-color: #343a40;
  border: none;
  padding: 1.65rem;
  margin-right: -2px;
  margin-left: -10px;
}

.myTweet {
  background-color: #343a40;
  border: #115cd6 2px solid;
}
